@font-face {
  font-family: "iconfont"; /* Project id 2543561 */
  src: url('iconfont.woff2?t=1624415103954') format('woff2'),
       url('iconfont.woff?t=1624415103954') format('woff'),
       url('iconfont.ttf?t=1624415103954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\e716";
}

.icon-morentupian:before {
  content: "\e608";
}

.icon-bianji:before {
  content: "\e60e";
}

.icon-edit2:before {
  content: "\e6aa";
}

.icon-edit:before {
  content: "\e6ea";
}

.icon-edit1:before {
  content: "\e662";
}

.icon-cuo:before {
  content: "\e723";
}

.icon-blog:before {
  content: "\e601";
}

.icon-untitled:before {
  content: "\e642";
}

.icon-zhongwen:before {
  content: "\e630";
}

.icon-yingwen:before {
  content: "\e631";
}

.icon-back:before {
  content: "\e61c";
}

.icon-fuzhushuxian:before {
  content: "\e6f4";
}

.icon-github:before {
  content: "\e64c";
}

.icon-theme-palette-fill:before {
  content: "\e823";
}

